 .App {
  text-align: center;
  margin: 3rem auto;
}

.editorApp {
  float: left;
  width: 45%;
  margin-left: 10%;
}

@media (max-width: 1500px) {
  .editorApp{
   margin: 2rem auto;
   width: 90%;
   align-items: center;
   float: none;
  }

  .App {
    margin: 2rem auto;
    width: 100%;
    text-align: center;
  }
}

