.form {
  float: right;
  width: 30%;
  margin-right: 10%;
}

@media screen and (max-width: 1500px) {
  div.form {
    margin: 2rem auto;
    width: 90%;
    float: none;
  }
}

@media screen and (max-width: 550px) {
    .textField-container {
        display: flex;
        flex-direction: column;
    }
  }